body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: rgb(22, 160, 20);
}

.category-active {
  background-color: rgb(137, 202, 38);
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 400px;
  }
  .menu {
    height: 500px;
  }
}


.overflow-auto::-webkit-scrollbar{
  display: none;
}

.btn-primary {
  background-color: rgb(22, 160, 20);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
